
 /* @media(max-width:2560px) and (orientation: landscape)
  {.hero-container{
    padding:45px 50px;
  }
  .para1{
    font-size:110px;
  }

  .para2{
    font-size:52px;
  }

  .getStarted1, .getStarted2{
      font-size:42px;
     padding:10px 50px;}

 .signInContainer{
  height:100vh;
 }
    
 .hero-container-box1{
   position:absolute; top:370px;
   width:1200px;}
  } */



 /* @media(max-width:1440px) and (orientation: landscape)
  {.hero-container{
    padding:45px 50px;
  }
  .para1{
    font-size:40px;
  }

  .para2{
    font-size:20px;
  }

  .getStarted1, .getStarted2{
      font-size:26px;
     padding:5px 60px;}

 .signInContainer{
  height:max-content;
 }
    
 .hero-container-box1{
   position:relative; top:-30px;
   width:650px;}
  } */



 @media(max-width:1115px)
 {


 } 

  @media(max-width:1100px) and (orientation: landscape)
  {.hero-container{
   height:max-content;
  }
    .para1{
      font-size:30px;}

    .para2{
      font-size:13px;}

    .getStarted1, .getStarted2{
      font-size:10px;
     padding:5px 25px;}
    

   .hero-container-box1{
   position:relative; top:50px;
   width:500px; margin-bottom:65px;}

   .loginContainer{
    padding:250px 35px;
   }
  
  }



 @media(max-width:970px)
 {


 }

 @media(max-width:957px){

  .about-Box4{
    margin-left:25px;
    
  }



 }


 @media(max-width:1050px)
 {


 }

 

 @media(max-width:1023px)
 {



 }



 @media(max-width:990px)
 {

 }


 @media(max-width:977px)
 {



 }

 



 @media(max-width:931px)
 {.nav-bar-a
  {font-size:11px
 
 
  }


 }

 @media(max-width:898px)
  {


  }


 @media(max-width:857px)
 {

  
 }


 @media(max-width:850px)
 {.navBar, .login-box1{
  display:none;}

  .sideBarBtnBox{
    display:flex;
  }

   .sideBar{
    display:flex;
    flex-direction:column;
    flex:auto;
  }

 }

  
  



 @media(max-width:837px)
 { .about-container{
  display:grid; grid-template-columns:1fr 1fr 1fr;
  justify-content:space-around;
 }

 .subscribeBtn{
  padding:5px; 
  font-size:8px;
 }
 .email-Subscribe{
  padding:7px 3px;
 }

 .about-Box2{
  justify-self:center;
 }

 .about-Box3{
  justify-self:right;
 }


  .about-Box4{
  justify-self:flex-start; margin-left:0px;
  align-self:self-start;
 }

  }


 @media(max-width:800px)
 {.about-container{
  display:grid; grid-template-columns:1fr 1fr;
  justify-content:space-around;
  }

  .about-Box1{
    width:100%;
    overflow:hidden; word-wrap:break-word;
  }

   .about-Box2{
  justify-self:right;
 }

 .about-Box3{
  justify-self:left;
 }


  .about-Box4{
  justify-self:right; margin-left:0px;
  align-self:self-start;
 }

  
  .hero-container-box1{
    width:65%;
    transition:all 1s ease;

  }

  .para1{
    font-size:30px;
  }

  .para2{
    font-size:13px;
  }

  .get-started-box{
    width:100%;
  }

  .get-started-box a{
   padding:5px 25px;
   transition: all 2s ease;
   font-size:11px;

     }


 }


  @media(max-width:656px)
  {.hero-container-box1{
   
    padding:10px; width:70%;

   }

   .para1{
    font-size:24px;
    margin-bottom:0px;
   }

   .para2{
    font-size:11px;
   }

   .get-started-box a{
   padding:5px 20px;
   transition: all 2s ease;
   font-size:9px;

   }



  }


  @media(max-width:647px)
  {

 
  }


  @media(max-width:635px)
  {.para1{
    font-size:23px;
    margin-bottom:0px;
   }

   .para2{
    font-size:10px;
   }

   .get-started-box a{
   padding:5px 20px;
   transition: all 2s ease;
   font-size:9px;

   }

 
  }



 @media(max-width:620px)
  {.para1{
    font-size:22px;
    margin-bottom:0px;
   }


  }

  

  @media(max-width:605px)
   {


   }



  @media(max-width:593px)
  {.para1{
    font-size:20px;
    margin-bottom:0px;
   }

   .get-started-box a{
   padding:5px 17px;
   transition: all 2s ease;
   font-size:9px;
   }


  }

  @media(max-width:580px)
  {.hero-container-box1{
    padding:10px; width:75%;

   }

    
  }


  
 @media(max-width:569px)
 {.about-container{
  display:grid; grid-template-columns:2fr 1fr;
  justify-content:space-around;
  }

 .about-Box1{
  width:100%;
  overflow:hidden; word-wrap:break-word;
 }

 }




 @media(max-width:533px)
 {


 }



 @media(max-width:527px)
 {.hero-container-box1{
    padding:10px; width:80%;

   }


 }



 @media(max-width:500px)
   {.hero-container-box1{
    padding:10px; width:100%;

   }

    .about-container{
    display:grid; grid-template-columns:2fr 1fr;
    justify-content:space-around;
    }

  .about-Box1{
    width:100%;
    overflow:hidden; word-wrap:break-word;
  }


  }


 @media(max-width:450px)
   {.hero-container{
    height:auto;
   }

  }



 @media(max-width:435px)
   {


  }

  @media(max-width:430px)
  { .get-started-box a{
   padding:5px 15px;
   transition: all 2s ease;
   font-size:7px;
   }
   

  
  }



 @media(max-width:422px)
   {.para1{
    font-size:19px;
    margin-bottom:0px;
   }



  }

  @media(max-width:408px){
   .para1{
    font-size:17px;
    margin-bottom:0px;
   }

   .about-container{
    display:grid; grid-template-columns:2fr;
    justify-content:space-around;
    }

      .about-Box1{
      width:100%;
      overflow:hidden; word-wrap:break-word;
    }

    .about-Box2{
    width:100%;
   }

    .about-Box3{
      width:100%;
    }


   .about-Box4{
     width:100%;
     justify-self:right; margin-left:0px;
     align-self:self-start;
    }




  }


  @media(max-width:395px){
  

  }

 @media(max-width:390px)
   {


  }

  @media(max-width:383px)
   {.signinBox{
    width:100%;
    transition:all 1s ease;
   }

   .sign-up-heading-p{
    font-size:11px;
   }

   .details-box div{
    width:100%;
   }

   
   .details-box input{
    width:100%;
   }


   .details-box2 div{
    width:100%;
   }

   .details-box2 label{
    font-size:10px;
   }

    .dateInput{
    width:125px;
   }

   .details-box3a{
    width:100%;
   }

   .details-box3a p{
    font-size:10px;
   }

   .details-box3a div{
    width:100%;
   }

   .maleGender, .femaleGender{
    font-size:7px;
   }

   .details-box3a label{
    font-size:12px;
   }

   .details-box3b p{
    font-size:10px;
   }

   .details-box3b select{
    width:125px;
    font-size:10px;
   }

   .details-box4 p{
    font-size:10px;
   }

   .details-box4 div{
    width:100%;
   }

   .details-box4 input{
    width:123px;
    font-size:7px;
   }

   .agree-terms{
    font-size:10px;
   }


   

  }


  
  @media(max-width:380px)
  {.para1{
    font-size:15px;
    margin-bottom:0px;
   }


   }

    @media(max-width:378px)
   { .dateInput{
    width:122px;
   }

   .dateInput{

    position:relative; left:-5px;

   }

   .stateInput{

    position:relative; left:3px;

   }

   .stateLabel{

    position:relative; left:4px;

   }

   .details-box3b select{
    width:120px;
    font-size:10px;
    position:relative; left:-3px;
   }

   .details-box3b p{
    font-size:9px;
   }

   

 
  }



  @media(max-width:370px)
   { .dateInput{
    width:120px;
   }

   .details-box3b select{
    width:120px;
    font-size:10px;
   }

   .details-box3b p{
    font-size:9px;
   }

   

 
  }

  @media(max-width:365px)
   {.signinBox{
    width:115%;
    transition:all 1s ease;
    }
     .dateInput{
    width:145px;
   }
   .datelabel{
    position:relative; left:-3px;
   }

   .dateInput2 {
    position:relative; left:-5px;
   }

   .stateInput {
    position:relative; left:5px;
   }

   .stateLabel{
    position:relative; left:6px;
   }

   .details-box3b select{
    width:143px;
    font-size:10px;
    position:relative; left:-2px;
   }

   .details-box3b p{
    font-size:9px;
   }

   .details-box4 input{
    width:142px;
    font-size:8px;
    position:relative; left:-1px;
   }
 
  }



 @media(max-width:352px)
  {.para1{
    font-size:13px;
   }

   .get-started-box a{
   padding:5px 11px;
   transition: all 2s ease;
   font-size:7px;
   }

   .dateInput{
    width:140px;
   }

   .dateInput2 {
    position:relative; left:-4px;
   }

   .stateInput {
    position:relative; left:5px;
   }

 }

  

  @media(max-width:346px)
   {.dateInput{
    width:137px;
   }
   .datelabel{
    position:relative; left:-3px;
   }

   .dateInput2 {
    position:relative; left:-4px;
   }

   .stateInput {
    position:relative; left:5px;
   }

   .stateLabel{
    position:relative; left:6px;
   }

   .details-box3b select{
    width:137px;
    font-size:10px;
    position:relative; left:-2px;
   }

   .details-box3b p{
    font-size:9px;
   }

   .details-box4 input{
    width:135px;
    font-size:8px;
    position:relative; left:-1px;
   }
  }


   @media(max-width:339px)
   {.dateInput{
    width:132px;
   }
   .datelabel{
    position:relative; left:-3px;
   }

   .dateInput2 {
    position:relative; left:-4px;
   }

   .stateInput {
    position:relative; left:4px;
   }

   .stateLabel{
    position:relative; left:6px;
   }

   .details-box3b select{
    width:133px;
    font-size:10px;
    position:relative; left:-2px;
   }

   .details-box3b p{
    font-size:9px;
   }

   .details-box4 input{
    width:130px;
    font-size:8px;
    position:relative; left:-1px;
   }
  }

  @media(max-width:335px)
   {.dateInput{
    width:130px;
   }

   .details-box3b select{
    width:130px;
    font-size:10px;
    position:relative; left:-2px;
   }

   .details-box3b p{
    font-size:9px;
   }

   .details-box4 input{
    width:130px;
    font-size:8px;
    position:relative; left:-1px;
   }
  }



  



   @media(max-width:330px)
   { .loginBox{
    width:100%;
    padding:10px 5px;
    }

    
    .dateInput{
    width:120px;
   }

   .stateInput{
    position:relative; left:5px;
   }

   .stateLabel{
    position:relative; left:6px;
    font-size:8px
   }

    .dateInput2{
    position:relative; right:4px;
   }

   .datelabel{
    position:relative; left:-3px; font-size:8px;
   }

   .details-box3a p{
    font-size:8px;
   }

   .details-box3b select{
    width:122px;
    font-size:10px;
    position:relative; left:-1px;
   }

   .details-box3b p{
    font-size:8px;
   }

   .details-box4 input{
    width:120px;
    font-size:5px;
   }

   .details-box4 p{
    
    font-size:8px;
   }

   .email-input{
    width:350px;
   }

   .password-input{
    width:350px;
    position:relative; left:-2px; 
   }

   .keepMe{
    position:relative; left:15px; 
   }

   .forgetPass{
    position:relative; right:15px; 
   }

   .agree-box{
    position:relative; right:5px;
    width:100%;
   }
   .agree-box a{
    font-size:9px;
    margin-top:2px;
   }
    .agree-box label{
    font-size:9px;
    margin-top:2px;
   }

   .log-in-button-box{
    width:100%;
   }

   .logInBtn {
    font-size:9px;
    padding:5px 10px;
    width:90%;
   }

   

 
  }

  @media(max-width:322px)
  {.dateInput{
    width:122px;
   }
    
   .para1{
    font-size:11px;
   }

   .para2{
    font-size:8px;
   }

   .get-started-box a{
   padding:5px 9px;
   transition: all 2s ease;
   font-size:7px;
   }

 }





  

 